extends baseEmail

block content
  // Add logo image here

  // Email content
  div(style='background-color: #AD343E; border-radius: 35px; padding: 3rem; color: #fff;')
    img(src='https://res.cloudinary.com/dvkl6un7x/image/upload/v1736168692/w-logo_zcpxuq.png', alt='Logo', style='display: block; margin:0 auto 32px auto;')
    p(style='font-size: 16px; color: #fff;') Hi #{firstName},
    p(style='font-size: 16px; color: #fff;') Trouble signing in?
    p(style='font-size: 16px; color: #fff;') Just press the button below and follow the instructions. We’ll have you up and running in no time.
    a(href=url, class="btn btn-primary", target='_blank', style='color: #fff; text-decoration: none; margin: 16px 0; background-color: #2C2F24; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3s;  font-weight:bold; display:block; width:fit-content;') Reset your password
    p(style='font-size: 16px; color: #fff; font-weight: bold;') If you did not make this request then please ignore this email.